body {
  margin: 0;
  overflow: hidden;
  background: #152B39;
  font-family: Courier, monospace;
  font-size: 14px;
  color:#ccc; 
}

.wrapper {
  display: block;
  margin: 5em auto;
  border: 1px solid black;
  width: 700px;
  height: 350px;
  position: relative;
}
p{text-align:center;}
.para{font-size: large;}
.label {
  height: 1em;
  padding: .3em;
  background: rgba(255, 255, 255, .10);
  position: absolute;
  display: none;
  color:red;
  
}